<!-- <div class="h-full w-full bg-red-500">
  <div class="flex" [ngStyle]="{'height': '600px'}">
    <div class="w-80 bg-yellow-400 h-full"></div>
    <div class="w-full h-full overflow-auto">
      <app-grid></app-grid>
    </div>
  </div>
</div> -->
<div class="flex items-center px-4 py-2">
  <div>
    <label for="">Start date:</label>
    <input type="date">
    <label class="ml-4" for="">End date:</label>
    <input type="date">
  </div>
  <div class="ml-8">
    <div class="flex justify-center rounded-lg text-lg" role="group">
      <app-button-toggles (change)="buttonTogglesChanged($event)"></app-button-toggles>
    </div>
  </div>
</div>


<app-grid [dashboard]="dashboard" [startDate]="startDate" [endDate]="endDate"></app-grid>